body {
  margin: 0;
  font-family: 'Poppins', 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: var(--primary-bg);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.54;
  font-size: clamp(14px, 2.3vw, 18px);
}

/* Responsive root container for very large/small screens */
@media (max-width: 430px) {
  body {
    font-size: clamp(13px, 3.3vw, 16px);
    line-height: 1.43;
  }
}

@media (min-width: 1800px) {
  body {
    font-size: 18.5px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
